[Unit]
Description=Run Infoblox CSP poller every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=15s

[Install]
WantedBy=timers.target
