[Unit]
Description=Run Graylog auto-rotate check every 5 minutes

[Timer]
OnBootSec=4min
OnUnitActiveSec=5min
AccuracySec=15s

[Install]
WantedBy=timers.target
